@{
    ViewBag.Title = "Home Page";
}
    <div class="header">
        <div class="timkiem ">
            <h3>
                <label for="">
                    <span class="fas fa-bars"></span>
                </label>
                DANH SÁCH TÀI KHOẢN
            </h3>
            <div class="search-wrapper thanhTk">
                <span class="fas fa-search"></span>
                <input type="search" placeholder="Tìm kiếm" />
            </div>
        </div>

    </div>

    <div class="add">
       
      @Html.ActionLink("Them", "About", "Home")
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="dv-nv">
                <div>
                    Nhan vien 1
                </div>
                <div class="tsx">
                    <a class="fa-solid fa-pen"></a>
                    <a class="fa-solid fa-trash"></a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="dv-nv">
                <div>
                    Nhan vien 2
                </div>
                <div class="tsx">
                    <a class="fa-solid fa-pen"></a>
                    <a class="fa-solid fa-trash"></a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="dv-nv">
                <div>
                    Nhan vien 3
                </div>
                <div class="tsx">
                    <a class="fa-solid fa-pen"></a>
                    <a class="fa-solid fa-trash"></a>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="dv-nv">
                <div>
                    Nhan vien 4
                </div>
                <div class="tsx">
                    <a class="fa-solid fa-pen"></a>
                    <a class="fa-solid fa-trash"></a>
                </div>
            </div>
        </li>
    </ul>