
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login Form</title>
    <link href="~/Content/login.css" rel="stylesheet" />
</head>
<body>
  
        {
    <div class="container">
        <div>
            <img class="fastfood" src="~/hinh/fastfood.jpg" />
        </div>
        <div class="login-container">
            @using (Html.BeginForm("Authen", "Login", FormMethod.Post))
                {
            <h2>ĐĂNG NHẬP</h2>


            <div class="input-div one">
                <div class="i">
                    <i class="fas fa-user"></i>
                </div>
                <div>
                    <h5>Username</h5>
                    <input class="input" type="text" name="Tk1" required />
                </div>
            </div>

            <div class="input-div two">
                <div class="i">
                    <i class="fas fa-lock"></i>
                </div>
                <div>
                    <h5>Password</h5>
                    <input class="input" type="password" name="Mk" required />
                </div>
            </div>

            <input type="submit" class="btn" value="Login" />

          }
        </div>
    </div>
    <script type="text/javascript" src="~/Content/login.js"></script>
</body>
</html>